# 겨울방학 파이썬 스터디 1차시

## 1. 변수

### 1) 변수 할당

In [1]:
eggs = 15;eggs

15

In [2]:
fizz = 10;fizz

10

In [3]:
a = 'Kookmin';a

'Kookmin'

In [4]:
# 덮어씌우기
a = 100;a

100

In [5]:
a = 10

In [6]:
a

10

In [7]:
# 숫자는 변수명으로 사용 불가
2 = 4

SyntaxError: can't assign to literal (<ipython-input-7-1c39678085a4>, line 2)

In [8]:
# 변수명 앞에 숫자는 사용 불가
2mart = Lotte

SyntaxError: invalid syntax (<ipython-input-8-abd4ab4cacf0>, line 2)

In [9]:
# -은 변수명에 사용 불가 
Big-Data = Kookmin

SyntaxError: can't assign to operator (<ipython-input-9-96dbcb5d9127>, line 2)

In [10]:
# 동시에 변수명을 설정 할 수 있음
A, a = 24, 20

In [11]:
print(A)

24

In [12]:
# 파이썬 키워드는 변수명으로 사용 할 수 없다
False = 20

SyntaxError: can't assign to keyword (<ipython-input-12-a977b5b679a8>, line 2)

In [13]:
# 띄어쓰기는 _로 표현
Big_Data = 'Kookmin';Big_Data

'Kookmin'

### 2) 변수 삭제

In [14]:
#변수 삭제
del eggs

In [15]:
eggs

NameError: name 'eggs' is not defined

## 2.데이터 타입

### 1) 논리

In [16]:
# 논리형
type(True)

bool

In [17]:
True and True

True

In [18]:
True and False

False

In [19]:
True or True

True

In [20]:
True or False

True

In [21]:
not True

False

### 2) 숫자

In [22]:
var1 = 100

In [23]:
type(var1)

int

In [24]:
var2 = 10.5

In [25]:
type(var2)

float

In [26]:
# 숫자 산술 연산자
print('2 + 3 = ', 2 + 3) # 덧셈
print('3 * 2 = ', 3 * 2) # 곱셉
print('4 / 2 = ', 4 / 2) # 나눗셈
print('6 - 9 = ', 6 - 9) # 뺄셈
print('5 // 2 = ', 5 // 2) # 몫
print('5 % 2 = ', 5 % 2) # 나머지
print('5 ** 2 = ', 5 ** 2) # 거듭제곱

2 + 3 =  5
3 * 2 =  6
4 / 2 =  2.0
6 - 9 =  -3
5 // 2 =  2
5 % 2 =  1
5 ** 2 =  25

In [27]:
# 숫자 비교 연산자
print('1 > 3 :', 1 > 3)
print('2 <= 4 :', 2 <= 4)
print('1 == 1 :', 1 == 1)
print('1 != 1 :', 1 != 1)

1 > 3 : False
2 <= 4 : True
1 == 1 : True
1 != 1 : False

보통은 비교 연산자와 논리 연산을 동시에 하는 경우가 많다.

In [28]:
3>0 and 1<0

False

<font color='red'><b>
[혼코딩] 자신의 생년(예: 2000)의 마지막 자리만 출력하려면?
</b></font>

In [ ]:
# 코드를 작성해주세요

#### 연산자 우선 순위

In [29]:
(1 + 2) ** 3 / 4 * 5

33.75

In [30]:
1 + 2 * 3 - 4 / 5 ** 6

6.999744

파이썬에서 우선 규칙은 다음과 같다.
- Parenthesis > Power > Multiplication/Division/Remainder > Addition/Subtraction > Left to Right

### 3) 문자

In [31]:
var1 = 'kookmin'
type(var1)

str

In [32]:
'kook'+'min'

'kookmin'

In [33]:
'kookmin' * 3

'kookminkookminkookmin'

In [34]:
# 문자열은 len()함수를 사용하여 문자열 갯수를 확인 할 수 있음
len(var1)

7

In [35]:
# 숫자형에서 문자형으로
var1 = 124
type(var1)

int

In [36]:
type(str(var1))

str

In [37]:
# 문자형에서 숫자형으로
var2 = '124'
type(var2)

str

In [38]:
type(int(var2))

int

## 3.자료형

### 1) List

In [39]:
# 리스트 생성
mento = ['김정하','마민정','유광열','이현준']
mento

['김정하', '마민정', '유광열', '이현준']

In [40]:
# 빈 리스트 생성
mentee = [];mentee

[]

In [41]:
# 여러 데이터 타입을 원소로 넣을 수 있다.
유광열 = [20192780,'빅데이터경영통계',True]
유광열

[20192780, '빅데이터경영통계', True]

In [42]:
# 리스트 안에 리스트를 생성
Major = [['경영학부','빅데이터경영통계'],['중국어학부','일본어학부']]
Major

[['경영학부', '빅데이터경영통계'], ['중국어학부', '일본어학부']]

<font color='blue'><b>
Indexing & Slicing
</b></font>

In [43]:
# 문자열 indexing
var1 = '겨울방학 파이썬 스터디'
var1[0]

'겨'

In [44]:
# 문자열 Slicing
var1[0:4]

'겨울방학'

In [45]:
# 문자열 역순으로 indexing
var1[-1]

'디'

In [46]:
# 리스트에서 indexing
# 리스트 생성
mento = ['김정하','마민정','유광열','이현준']
mento

['김정하', '마민정', '유광열', '이현준']

In [47]:
mento[0]

'김정하'

In [48]:
# 리스트에서 Slicing
mento[0:2]

['김정하', '마민정']

In [49]:
# 리스트 안에 리스트를 생성
Major = [['경영학부','빅데이터경영통계'],['중국어학부','일본어학부']]
Major

[['경영학부', '빅데이터경영통계'], ['중국어학부', '일본어학부']]

In [51]:
# 2차원 리스트에서 indexing
Major[0][1]

'빅데이터경영통계'

In [52]:
# 리스트에서 역순으로 indexing
mento[-1]

'이현준'

In [53]:
# 리스트에서 Slicing
mento[1:] #2번째부터 끝까지

['마민정', '유광열', '이현준']

In [54]:
# 리스트에서 Slicing
mento[:3] # 3번째 까지

['김정하', '마민정', '유광열']

In [56]:
# 리스트에서 indexing
# 리스트 생성
mento = ['김정하','마민정','이현준','유광열']
mento

['김정하', '마민정', '유광열', '이현준']

In [55]:
# 리스트에서 Slicing
mento[1:4:2]  # 2번 값부터 4번 값 사이에서, 2간격으로 선택

['마민정', '이현준']

<font color='blue'><b>
리스트 Method
</b></font>

In [57]:
#리스트에 원소 추가
mento.append('한승수'); mento

['김정하', '마민정', '유광열', '이현준', '한승수']

In [58]:
# 리스트에서 원소 삭제
mento.pop(); mento

['김정하', '마민정', '유광열', '이현준']

In [60]:
# 리스트 정렬
mento = ['김정하','마민정','이현준','유광열']
mento.sort(); mento

['김정하', '마민정', '유광열', '이현준']

In [61]:
# 리스트 역순
mento.reverse(); mento

['이현준', '유광열', '마민정', '김정하']

In [62]:
# 리스트에서 해당위치를 찾아준다
mento.index('유광열')

1

In [63]:
# 리스트에서 해당 위치에 값을 추가한다
mento.insert(4,'최민석'); mento

['이현준', '유광열', '마민정', '김정하', '최민석']

In [64]:
# 리스트에서 지정한 값을 삭제
mento.remove('최민석'); mento

['이현준', '유광열', '마민정', '김정하']

In [65]:
# 리스트 뒤에 리스트를 추가한다.
pro = ['조윤호 교수님','문현실 교수님','안성만 교수님','최여진 교수님']
mento.extend(pro); mento

['이현준', '유광열', '마민정', '김정하', '조윤호 교수님', '문현실 교수님', '안성만 교수님', '최여진 교수님']

In [66]:
# 리스트에서 해당 값의 개수를 센다.
mento.count('이현준')

1

In [67]:
# 리스트의 원소 갯수를 센다
len(mento)

8

In [68]:
mento[4]

'조윤호 교수님'

In [69]:
# 리스트 해당 위치의 항목을 삭제한다.
del(mento[4]); mento

['이현준', '유광열', '마민정', '김정하', '문현실 교수님', '안성만 교수님', '최여진 교수님']

In [70]:
# 리스트의 내용을 새로운 리스트에 복사한다.
big = mento.copy();big

['이현준', '유광열', '마민정', '김정하', '문현실 교수님', '안성만 교수님', '최여진 교수님']

In [71]:
# 리스트의 항목들을 정렬하여 새로운 리스트에 대입한다.
data = sorted(mento); data

['김정하', '마민정', '문현실 교수님', '안성만 교수님', '유광열', '이현준', '최여진 교수님']

In [72]:
mento

['이현준', '유광열', '마민정', '김정하', '문현실 교수님', '안성만 교수님', '최여진 교수님']

In [73]:
'마민정' in mento

True

In [74]:
mento[mento.index('김정하')]

'김정하'

In [75]:
# 리스트의 내용을 모두 지운다.
mento.clear(); mento

[]

### 2) Dictionary

In [76]:
# Dictionary생성
mento = {'김정하':1118, '마민정':304, '유광열':627, '이현준':522}; mento

{'김정하': 1118, '마민정': 304, '유광열': 627, '이현준': 522}

In [77]:
# 특정 Value값 인덱싱
mento['유광열']

627

In [78]:
# Dictionary key값 확인
mento.keys()

dict_keys(['김정하', '마민정', '유광열', '이현준'])

In [79]:
# Dictionary values값 확인
mento.values()

dict_values([1118, 304, 627, 522])

In [80]:
# Dictionary value 추가
mento['한승수'] = 221 ;mento

{'김정하': 1118, '마민정': 304, '유광열': 627, '이현준': 522, '한승수': 221}

In [81]:
#Dictionary vlaue 덮어 씌우기
mento['유광열'] = 725 ;mento

{'김정하': 1118, '마민정': 304, '유광열': 725, '이현준': 522, '한승수': 221}

In [82]:
# Dictionary key, value 같이 보기
mento.items()

dict_items([('김정하', 1118), ('마민정', 304), ('유광열', 725), ('이현준', 522), ('한승수', 221)])

### 3) Tuple

In [83]:
# Tuple 생성
place = ('경영관','복지관','북악관'); place

('경영관', '복지관', '북악관')

In [84]:
# Tuple Indexing
place[0]

'경영관'

In [85]:
# Tuple Slicing
place[0:2]

('경영관', '복지관')

In [87]:
# tuple합치기
gate = ('정문','후문','쪽문')
a = place + gate;a

('경영관', '복지관', '북악관', '정문', '후문', '쪽문')

In [88]:
#tuple함수에 다른 값을 넣으면 tuple로 변함
tuple([1, 2, 3])

(1, 2, 3)

### 4) Set

In [89]:
# set 생성
fruit = {'딸기','바나나', '수박'}; fruit

{'딸기', '바나나', '수박'}

In [90]:
# set 중복 생성
fruit = {'딸기', '딸기', '바나나', '바나나', '바나나', '수박'}; fruit

{'딸기', '바나나', '수박'}

In [91]:
# set원소 추가
fruit.add('오렌지');fruit

{'딸기', '바나나', '수박', '오렌지'}

In [92]:
#set 여럭 개 원소 추가
fruit.update(['석류','멜론']);fruit

{'딸기', '멜론', '바나나', '석류', '수박', '오렌지'}

In [93]:
# set 원소 제거
fruit.remove('멜론');fruit

{'딸기', '바나나', '석류', '수박', '오렌지'}

In [94]:
# set 연산자
a = {1,2,3}
b = {3,4,5}

In [95]:
# 합집합
a | b

{1, 2, 3, 4, 5}

In [96]:
# 교집합
a & b

{3}

In [97]:
# 차집합
a - b

{1, 2}

<font color='blue'><b>
과제 푸는데 필요 input함수
</b></font>

In [98]:
name = input('이름을 입력하세요:');name

이름을 입력하세요:유광열

'유광열'

In [99]:
나이 = int(input('나이를 입력하세요:'));나이

나이를 입력하세요:22

22