# Module : Pandas, Numpy

In [1]:
import pandas as pd
import numpy as np

## 내장된 자료구조 : 리스트,튜플,딕셔너리,셋 

---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

##  데이터프레임(DataFrame)

###  2. 데이터프레임 만들기

1. 딕셔너리 생성  
2. pd.DataFrame()안데 넣기

In [2]:
# 1. 딕셔너리 생성

{ 'Name': ['Rosaline Franklin', 'William Gosset'], 
    'Occupation': ['Chemist', 'Statistician'], 
    'Born': ['1920-07-25', '1876-06-13'], 
    'Died': ['1958-04-16', '1937-10-16'], 
    'Age': [37, 61]}

{'Name': ['Rosaline Franklin', 'William Gosset'],
 'Occupation': ['Chemist', 'Statistician'],
 'Born': ['1920-07-25', '1876-06-13'],
 'Died': ['1958-04-16', '1937-10-16'],
 'Age': [37, 61]}

In [3]:
# 2. pd.DataFrame

scientists = pd.DataFrame({ 
    'Name': ['Rosaline Franklin', 'William Gosset'], 
    'Occupation': ['Chemist', 'Statistician'], 
    'Born': ['1920-07-25', '1876-06-13'], 
    'Died': ['1958-04-16', '1937-10-16'], 
    'Age': [37, 61]}) 

print(scientists)

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

In [4]:
scientists

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

### 인덱스 명을 바꾸고 싶어???
- index=[바꾸고싶은 인덱스명]

In [20]:
# data,index와 columns 라는 파라미터 조정

scientists = pd.DataFrame( 
    data={'Occupation': ['Chemist', 'Statistician'], 
          'Born': ['1920-07-25', '1876-06-13'], 
          'Died': ['1958-04-16', '1937-10-16'],
          'Age': [37, 61]},
    index=['Rosaline Franklin', 'William Gosset'],
    columns=['Occupation', 'Born', 'Age', 'Died']) 

print(scientists)

                     Occupation        Born  Age        Died
Rosaline Franklin       Chemist  1920-07-25   37  1958-04-16
William Gosset     Statistician  1876-06-13   61  1937-10-16

In [19]:
scientists

Empty DataFrame
Columns: [Occupation, Born, Age, Died, Gender]
Index: []

In [7]:
type(scientists)

pandas.core.frame.DataFrame

In [8]:
scientists.dtypes

Occupation    object
Born          object
Age            int64
Died          object
dtype: object

## 5. 데이터프레임 조작 
### 본격적인 데이터분석의 시작
-  확인
-  인덱싱
-  추가 
-  삭제
-  수정

In [9]:
# DataFrame 살펴보기 (크기!!!)

scientists.shape

(2, 4)

In [10]:
scientists.columns # 열명!!

Index(['Occupation', 'Born', 'Age', 'Died'], dtype='object')

In [11]:
# 열(column) 방향으로 인덱싱

scientists['Occupation']

Rosaline Franklin         Chemist
William Gosset       Statistician
Name: Occupation, dtype: object

In [12]:
scientists['Age']

Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64

### 열 (Column) 추가하기 
- 데이터프레임['추가할 열명'] =  [추가할 값]

In [15]:
# 열 (Column) 추가하기 

scientists

                     Occupation        Born  Age        Died
Rosaline Franklin       Chemist  1920-07-25   37  1958-04-16
William Gosset     Statistician  1876-06-13   61  1937-10-16

In [13]:
# 딕셔너리 타입의 추가하는 방법과 동일
#딕셔너리 명['키값'] = '벨류값'

scientists['Gender'] = ['F','M']
scientists

                     Occupation        Born  Age        Died Gender
Rosaline Franklin       Chemist  1920-07-25   37  1958-04-16      F
William Gosset     Statistician  1876-06-13   61  1937-10-16      M

### 열 (column) 삭제 
- drop('삭제할 열명', axis=1)  # axis=1 : 열 기준
> 0은 행, 1은 열 (쉽게, 행렬이므로 행,열 순서대로 0,1 부여)
- inplace=True : 수정된 상태로 저장해줘!  
> inplace: (사전적 정의) 대체하다

In [14]:
# 열 (column) 삭제

scientists.drop('index',axis=1,inplace=True)   # axis = 0 , inplace = False

KeyError: "['index'] not found in axis"

In [19]:
scientists

               index    Occupation        Born  Age        Died Gender
0  Rosaline Franklin       Chemist  1920-07-25   37  1958-04-16      F
1     William Gosset  Statistician  1876-06-13   61  1937-10-16      M

In [18]:
# 행 (row) 삭제

scientists.index[0]

scientists.drop(scientists.index[0] , axis=0 , inplace=True) 
scientists

Empty DataFrame
Columns: [Occupation, Born, Age, Died, Gender]
Index: []

In [17]:
# 데이터 수정하기

scientists['Gender'][1]

IndexError: index out of bounds

In [21]:
scientists['Gender'][1] = 'F'
scientists

KeyError: 'Gender'

-----------------------------------------------------------------------------------------------------------------

# pandas 사용

## 6. 데이터 불러오기 
-pd.read_csv('불러올 데이터명.csv', sep='', encoding='cp949')
> read_csv 판다스에 내장된 함수!! 따라서 read_csv를 쓰려면 앞에 꼭 pd를 써야함  

> sep : 구분자!! 해당데이터가 ,을 기준으로 구분되어 있으므로 , 사용  

> encoding='cp949' 한글 데이터 불러올 때 사용

In [28]:
df = pd.read_csv('titanic.csv' , sep=',' , encoding='cp949')

In [29]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [35]:
df.Cabin.isnull().sum()

687

In [36]:
type(df)

pandas.core.frame.DataFrame

In [37]:
df.shape  # 몇행, 몇열

(891, 12)

### df.columns

In [38]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [40]:
df.describe() # 통계치

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [41]:
df.describe().astype('int') # 정수로 표현

       PassengerId  Survived  Pclass  Age  SibSp  Parch  Fare
count          891       891     891  714    891    891   891
mean           446         0       2   29      0      0    32
std            257         0       0   14      1      0    49
min              1         0       1    0      0      0     0
25%            223         0       2   20      0      0     7
50%            446         0       3   28      0      0    14
75%            668         1       3   38      1      0    31
max            891         1       3   80      8      6   512

-------------------------------------

# 4회차 추가 문제 풀이

#### `year = int(input())` 를 사용해 year에 연도를 할당한 후, 그 연도가 평년인지 윤년인지 구하는 알고리즘을 만들어보세요.


* 조건 1 : 연도가 4의 배수이면 윤년이고 그 외에는 평년입니다.
* 조건 2 : 조건 1 에서 100의 배수이면 평년이고, 400의 배수이면 윤년입니다.
* 조건 3 : 만약 연도가 1년부터 2999년 사이에 존재하지 않으면 '오류'를 출력하세요.

* 예시 1 : 2400은 4와 100의 배수이지만 400의 배수도 되기 때문에 윤년입니다.
* 예시 2 : 2020은 4의 배수는 맞지만 100의 배수가 아니므로 윤년입니다.

In [ ]:
year = int(input('연도를 입력하세요.'))

if 1 <= year <= 2999:
    
    # 조건 3
    if year % 4 == 0:
        # 조건 1
        if year % 400 == 0:
            print(year,'은(는) 윤년')
            # 조건 2
        elif year % 100 == 0:
            print(year,'은(는) 평년')
            # 조건 2
        else:
            print(year,'은(는) 윤년')
            # 조건 1
    elif year % 4 != 0:
        print(year,'은(는) 평년')
        # 조건 1
else:
    print('오류')
    # 조건 3