In [1]:
 import pandas as pd

Q1. df_tr_2 데이터를 불러오고 앞의 9번째 행까지 보이도록 출력하시오.

In [ ]:
# code here

Q2. df_tr_2 데이터의 크기와 기본 정보를 출력하시오.

In [1]:
# code here

Q3. df_tr_2 데이터에서 object로 이루어진 열의 기술 통계 정보가 나오도록 출력하시오.

In [2]:
# code here

Q4. dr_tr_2 데이터에서 PAGEVIEWS와 DWELLTIME의 박스플롯 그래프를 그리시오.

In [ ]:
# code here

Q5. df_tr_2 데이터에서 원하는 열 2개를 사용해 산점도 그래프와 상관계수를 그리고 두 자료의 관계를 설명하고 유용한지 판단하시요.(정답이 없는 문제입니다. 자신이 주관적인 생각을 적어주세요.)

In [ ]:
#설명

In [ ]:
# code here

Q6. 하이닉스 데이터를 불러와 각 열별 평균값,중간값,최댓값,최솟값,표준편차를 구하여 새로운 데이터 프레임을 만드시오

In [57]:
#이것과 같은 형태를 만들어 주세요

               평균값         중간값         최대값         최솟값         표준편차
종가    53970.333333  51350.0000  71300.0000  44700.0000  7267.162276
전일비    -837.333333   -725.0000      0.0000  -2700.0000   627.693837
등락률       0.003206      0.0024      0.0478     -0.0538     0.019385
5일    53628.933333  50870.0000  71100.0000  45420.0000  6987.164373
10일   53199.033333  50610.0000  70240.0000  44835.0000  6629.066074
20일   52357.220000  50623.0000  68850.0000  43493.0000  6039.474870
60일   49618.420000  49949.0000  61093.0000  41809.0000  4599.910439
120일  46492.120000  46480.0000  55578.0000  37965.0000  4722.036095

Q6-1. 각 열별 상관계수를 구하여 1번 문제와 서로 다른 엑셀 시트에 저장하는 엑셀 파일을 만들어 주세요.

In [ ]:
# code here

Q7. titanic데이터를 불러와 나이별 상자그림을 만든 후, 사분위수 범위를 구해 주세요.

In [ ]:
# code here

Q8. FuelData를 불러와 배기량과 도시연비를 가지고 산점도 그래프를 그린후에 가장 좋다고 생각하는 배기량 값 또는 범위와 이유를 말해주세요. Displacement=배기량, City MPG= 도시연비

In [ ]:
# code here

Q9. Restaurant데이터를 불러와 교차제표를 만드세요. 화이팅!!!!

In [63]:
# 아래와 같은 교차제표를 만들어주세요

           10-19  20-29  30-39  40-49
Good          42     40      2      0
VeryGood      34     64     46      6
Excellent      2     14     28     22

In [64]:
#code here

Q9-1. 식사비 구간별 히스토그램을 그려주세요.

In [65]:
#code here