In [5]:
import pandas as pd
search= pd.read_csv('search.csv')
search.head()

   CLNT_ID  SESS_ID     KWD_NM  SEARCH_CNT
0  5607714  7112876   빌리프 아이크림           6
1  5607714  4090791  프리메라 마스크팩           3
2  5607714  4090791      여성청결제           1
3  5612428  1876482       명품가방           1
4  5612428   658123  콩순이 아이스크림           1

1.  CLNT_ID를 1번부터 마지막 숫자로 열을 바꾼후에 인덱스로 설정해주세요.

In [21]:
#code

2.SEARCH_CNT값이 가장 높은 값의 행의 KWD_NM를 추출하세요

In [24]:
seoul_d= pd.read_csv('서울대기오염.csv')
seoul_d.head()

  측정소명  이산화질소농도   오존농도  일산화탄소농도          측정일시  아황산가스  미세먼지  초미세먼지
0  강남구    0.041  0.012      0.4  201903181200  0.008  34.0   20.0
1  강남구    0.038  0.015      0.4  201903181300  0.005  31.0   18.0
2  강남구    0.039  0.015      0.4  201903181400  0.006  30.0   18.0
3  강남구    0.033  0.020      0.3  201903181500  0.007  30.0   16.0
4  강남구    0.039  0.023      0.5  201903181600  0.010  42.0   27.0

3. 미세먼지와 초미세먼지의 합계를 나타내는 총미세먼지량 열을 추가하세요.

In [12]:
#code

4. 측정소명을 출력하여 각 구의 랜드마크와 함께 딕셔너리를 만드세요,
(ex:{'성북구':'국민대'},hint 측정소명을 리스트로 만들어 구글링 해보세요. )

In [39]:
#code

5. 4번에서 만든 딕셔너리로 시리즈와 데이터 프레임을 각각 만든후에 성북구,중랑구,동대문구를 출력하세요.

In [39]:
#code